/* @font-face {
    font-family: 'SPBO';
    src: url('../fonts/SourceSansPro-Bold.eot');
    src: url('../fonts/SourceSansPro-Bold.eot?iefix') format('eot'),
         url('../fonts/SourceSansPro-Bold.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold.svg#webfontXqjqfm2I') format('svg');
     font-weight: normal;
     font-style: normal;
 }*/ 

 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @else if $media == l {
    @media  (min-width: 768px) and (max-width: 1095px){ @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}

/******   colors  *********/

 $default: #282725;
 $blue: #00b7e1;
 $background_footer: #231f20;
 $color_footer: #ffffff;

/********  mixin *********/

@mixin width(){
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
}

/********  fonts *********//*not working for some reason*/

@font-face {
	font-family: 'knockout30';
	src:url('/sites/all/themes/rushdi/fonts/Knockout30.otf');
}
@font-face {
	font-family: 'knockout50';
	src:url('/sites/all/themes/rushdi/fonts/Knockout50.otf');
}
@font-face {
	font-family: 'knockout70';
	src:url('/sites/all/themes/rushdi/fonts/Knockout70.otf');
	font-weight:normal;
}
/******** general  *******/

body{
	font-family: OpenSans;
	color: $default;
	font-size: 18px;
	line-height: 24px;
}

#main{
	@include width();
}

#page{
	width: 100%;
	max-width: 100%;
}

.block{
	margin-bottom: 0;
}
#content{
	padding-right:0;
	padding-left:0;
}

h1,h2,h3,h4,h5,h6 {font-weight:normal;}/*cause of knockout weighting*/

/*******  header  ***********/

#header{
	border-top: 24px solid $blue;
	border-bottom: 1px solid rgba(41, 40, 38, 0.25);
	@include width();
	padding-top: 20px;
	#logo{
		float: left;
	}
	.region-header{
		float: right;
		clear: right;
		padding-top: 15px;
		padding-bottom:  5px;
		#block-bean-social-icons-header{
			float: right;
			margin-left: 60px;
			height: 26px;
			margin-top:5px;
			.field-name-field-social-icons > .field-items > .field-item{
				display: inline-block;
				margin-left: 14px;
			}
			.field-name-field-social-icons > .field-items > .field-item.even{
				margin-left:0;
			}
		}
		#block-megamenu-main-menu{
			float: right;
			.megamenu-skin-minimal {
			    background-color: transparent;
				text-transform:uppercase;
				li {
					margin-right:27px;
				}
				li.last {
					margin-right:0;
				}
				a {
					color:black;
					text-decoration:none;
					font-family:'knockout50';
					font-size:14px;
				}
				
			}
		}
	}
}

#footer {
	min-height:484px;
	@include width();
	background-color:$background_footer;
	color:$color_footer;
	#block-block-2 {	
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			margin-top:100px;
		}
		li { 
			display: inline-block;
			text-transform:uppercase;
			border-right: 1px solid $color_footer;
			padding-right:5px;
			font-size: 14px;
			line-height: 14px;
			font-family:'knockout30';
		}
		li:last-child {
			border:none;
		}
	}
	#block-menu-menu-footer-menu {
		width:100%;
		max-width:800px;
		ul {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
		margin:0;
		margin-top:40px;
		padding:0;
		padding-left:100px;
		}
		
	.menu__item.is-leaf, .menu__item.is-collapsed {
			list-style: none;
				a {
					text-transform:uppercase;
					color:$color_footer;
					text-decoration:none;
					font-size: 14px;
					font-family:'knockout30';
				}
			}
	
	}
	
	#block-block-7 {
		float: left;
		margin-top:48px;
		@include res(s-m){
			width: 100%;
		}
		p {
			margin:0;
		}
	}
	
	#block-block-3 {
		background-image:url(../images/fot-flah.png);
		margin-right:-80px;
		height:72px;
		float:right;
		width:475px;
		margin-top:55px;
		p { 
			margin:0;
			margin-left:40px;
			line-height:70px;
			text-indent:40px;
		}
		a {
			text-decoration:none;
			color:$color_footer;
			font-size: 24px;
			font-weight: 700;
		}
	}
	
	#block-bean-social-icons-header--2 {
		a img {
			display:none;
		}
		.field-item a{
			width:30px;
			height:30px;
			float:left;
			display:block;
		}
		.field-item.even a {
			background-image:url(../images/fb-icon-white.png);
		}
		.field-item.odd a {
			background-image:url(../images/ttr-icon-white.png);
		}
	}
	#block-bean-social-icons-header--2 > .entity > .content > .field > .field-items > .field-item {
		float:left; margin-right:10px;
	}
	#block-block-6 {	
		margin: 0;
		margin-top:100px;
		font-family:'knockout30';
		font-size:13px;
	}
}

/*highlighted block in homepage*/
.region-highlighted {
	height:430px;
	border-bottom:1px solid rgba(41, 40, 38, 0.25);
	font-family:'knockout70';
	margin:0 -80px;
	padding:0 80px;
	text-transform:uppercase;
	@include res(s-m){
		height:208px;
	}
	.block-title {
		position:absolute;
		left:70%;
		font-size:56px;
		line-height:48px;
		color:#000;
		max-width:168px;
		margin-top:80px;
		font-weight:normal;
		@include res(s-m){
			font-size:44px;
			margin-top:5px;
			left:65%;
			line-height:38px;
		}
	}
	.field {
		position:absolute;
		left:70%;
		@include res(s-m){
			left:65%;
		}
	}
	.field-type-image {
		left:80px;
		z-index:-1;
		@include res(s-m){
			left:0;
		}
	}
	.field-name-field-hp-slogan {
		font-size: 24px;
		line-height:32px;
		color:#00b7e1;
		width:282px;
		margin-top:250px;
		@include res(s-m){
			line-height:26px;
			margin-top:125px;
			width:190px;
		}
		p{
			margin:0;
		}
	}
	.field-type-link-field  a {
		font-family:'knockout50';
		color:#97d4da;
		text-decoration:none;
		font-size:16px;
		@include res(s-m){
			display:none;
		}
	}
	.field-name-field-hp-link-1 {
		margin-top:333px;
	}
	.field-name-field-hp-link-2{
		margin-top:333px;
		margin-left:170px;
	}
}

/*Recipes block in homepage*/
#block-views-recipes-displays-block-1 {
	font-family:knockout70;
	text-transform:uppercase;
	.block-title {
		text-align:center;
		font-size:30px;
		color:#000;
		line-height:1;/*reset*/
		margin-top:60px;
	}
	.view-header {
		color:$default;
		text-align:center;
		font-family:knockout30;
		line-height:1;/*reset*/
		margin-bottom:50px;
		p{
			margin:0;
		}
	}
	.jcarousel-container.jcarousel-container-horizontal {
		width:100%;
		height:auto;
		padding:0;
		border:0 none;
		background:none transparent;
		.jcarousel-clip-horizontal{
			width:100%;
		}
		.jcarousel-prev{
			background-image:url(../images/car-arr-left.png);
			left:-50px;
			@include res(s-m){
				background-image:url(../images/car-arr-left-m.png);
			}
		}
		.jcarousel-next{
			background-image:url(../images/car-arr-right.png);
			right:-50px;
			@include res(s-m){
				background-image:url(../images/car-arr-right-m.png);
			}
		}
		.jcarousel-prev, .jcarousel-next{
			height:45px;
			width:26px;
			background-position:0 0;
			@include res(s-m){
				width:60px;
				height:84px;
			}
		}
		.jcarousel-prev:hover, .jcarousel-next:hover{
			background-position:0 0;
		}
		.jcarousel-item {
			width:406px !important;
			height:auto;
			border:0 none;
			margin:0 30px 0 0;
			.views-field-title {
				color:#fff;
				margin-bottom:8px;
				background:#e84754;
				letter-spacing:1px;
				padding:3px;
				font-size:20px;
			}
		}
	}
	
}

/*Masonary in homepage*/
#block-views-articles-view-block {
	font-family:knockout70;
	text-transform:uppercase;
	.block-title {
		text-align:center;
		font-size:30px;
		color:#000;
		line-height:1;/*reset*/
		margin-top:60px;
	}
	.view-header {
		color:$default;
		text-align:center;
		font-family:knockout30;
		line-height:1;/*reset*/
		margin-bottom:50px;
		p{
			margin:0;
		}
	}
	.masonry-item {
		width:100%;
		max-width:406px;
		background:none transparent;
		padding:0;
		margin:0 0 40px 0;
		border:0 none;
		.views-field-title {
			color:#fff;
			padding:16px;
			background:#e84754;
			font-family:knockout50;
			font-size:28px;
			line-height:30px;
			text-transform:none;
			a{
				color:#fff;
				text-decoration:none;
			}
		}
		img {
			width:100%;
		}
	}
	.views-row-1 .views-field-title {
		background:#97ca4b;
	}
	.views-row-2 .views-field-title {
		background:#c9883a;
	}
	.views-row-3 .views-field-title {
		background:#e84754;
	}
	.views-row-4 .views-field-title {
		background:#9e2b68;
	}
	.views-row-5 .views-field-title {
		background:#00b7e1;
	}
	.views-row-6 .views-field-title {
		background:#97ca4b;
	}
}



/*CHECK*/
/*Masonary*/
.masonry-width{width:406px;}
/*homepagetitle -- NEEDS TO BE REMOVED!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.front h1.title {display:none;}
/*DONE CHECK*/


/*Recipe page*/
.node-type-recipes {
	h1.title {
		float:right;
		width:65%;
		font-size:32px;
		font-family:'knockout50';
		background:#e84754;
		text-align:center;
		color:#fff;
		margin-top:55px;
	}
	.field-name-field-recipe-image {
		margin-top:55px;
		float:left;
	}
	.field-name-field-sharing-recipe {
		float:left;
		clear:both;
	}
}

/*Recipes Lobby page*/
.page-recipes {
	h1.title {
		font-family:'knockout70';
		font-size:56px;
		text-transform:uppercase;
		margin-top:40px;
		line-height:1;
	}
	.masonry-item {
		width:100%;
		max-width:406px;
		background:none transparent;
		padding:0;
		margin:0 0 40px 0;
		border:0 none;
		.views-field-title {
			color:#fff;
			padding:16px;
			background:#e84754;
			font-family:knockout50;
			font-size:28px;
			line-height:30px;
			text-transform:none;
			a{
				color:#fff;
				text-decoration:none;
			}
		}
	}
}

/*Product page*/
.node-type-product-display {
	h1.title {
		font-size:26px;
		font-family:'knockout30';
		line-height:1;
		margin-top:40px;
	}
	.field-name-field-gallery {
		float:left;
		width:50%;
		.jcbx-glry-classic {
			background:none transparent !important;
		}
	}
	.field-field-product-weight {
		float:left;
		margin-left:30px;
		text-transform:uppercase;
		.field-label {
			display:none;/*should be removed from HTML!*/
		}
	}
	.field-name-field-nutritional-values {
		float:left;
		margin-left:30px;
		text-transform:uppercase;
	}
}
#block-views-recipes-displays-block-3 {
	clear:both;
	.block-title {
		line-height:1;
		font-family:'knockout70';
		margin:75px 0 50px 0;
		text-transform:uppercase;
		text-align:center;
	}
	.views-row {
		width:406px;
		margin:0 30px 0 0;
		float:left;
		.views-field-title a { 
			background:#00b7e1;
			color:#fff;
			font-size:20px;
			font-family:'knockout50';
			text-align:center;
			padding:3px;
			margin-bottom:5px;
			display:block;
			text-decoration:none;
		}
	}
	.views-row-last {
		margin:0 0 0 0;
	}
}
#block-views-product-display-view-block-2 {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
	.block-title {
		line-height:1;
		font-family:'knockout70';
		margin:75px 0 50px 0;
		text-transform:uppercase;
		text-align:center;
		font-size:30px;
	}
	.views-row {
		width:18%;
		margin:0 2.5% 0 0;
		float:left;
		.views-field-title a { 
			font-size:18px;
			padding:6px 0 0;
			color:$default;
			text-decoration:none;
		}
	}
	.views-row-last {
		margin:0 0 0 0;
	}
}